<div class="card center">
    <div class="card-header">
      <h1>Kereső</h1>
    </div>
    <div class="card-body">

                 <div class="marginbottom center textcenter useravatar">
                        <img [src]="imageUrl" class="center">
                          <div>
                            <input class="center textcenter" #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
                          </div>
                  </div>
                <div  class="marginbottom  paddingright">
                    <form (ngSubmit)="onUpdate()" #kereszt="ngForm">
                            <div class="form-group row" id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
                              <label for="firstname" class="col-4 col-form-label">Keresztnév</label>
                              <div class="col-8">
                                <input id="firstname" name="firstname" placeholder={{actualProfile.firstName}} class="form-control here" type="text" ngModel>
                              </div>
                            </div>
                    </form>

                    <form (ngSubmit)="onUpdate()" #vezetek="ngForm">
                            <div class="form-group row" id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
                              <label for="lastname" class="col-4 col-form-label">Vezetéknév</label>
                              <div class="col-8">
                                <input id="lastname" name="lastname" placeholder={{actualProfile.lastName}} class="form-control here" type="text" ngModel>
                              </div>
                            </div>
                    </form>

                    <form #jelszo="ngForm">
                      <div ngModelGroup="userData" #userData="ngModelGroup">
                            <div class="form-group row" id="user-data">
                              <label for="pass" class="col-4 col-form-label">Jelszó</label>
                              <div class="col-8">
                                <input id="pass" name="pass" placeholder="Password" class="form-control here" type="password" ngModel>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="newpass" class="col-4 col-form-label">Új jelszó</label>
                              <div class="col-8">
                                <input id="newpass" name="newpass" placeholder="New Password" class="form-control here marginbottom" type="password" ngModel>
                                <button class="btn btn-primary center" style="display:block;" (click)="onChangePassword()">Jelszó változtatás</button>
                              </div>
                            </div>
                      </div>
                    </form>
                </div>


            <form (ngSubmit)="onUpdate()" #about="ngForm">
                <div class="marginbottom"  ngModelGroup="userData" #userData="ngModelGroup">
                    <label>Rólam</label>
                    <textarea name="aboutMe" id="aboutMe" cols="30" rows="5"  class="form-control here" placeholder={{actualProfile.aboutMe}} ngModel></textarea>
                </div>
            </form>


            <div class="marginbottom">
                <label style="margin-bottom: 1em;">Iskoláim:</label>

                <form (ngSubmit)="onUpdate()" #school="ngForm" class="row" >
                <ul class="col-sm-6">
                    <li *ngFor="let school of actualProfile.schools; let i = index" style="margin-bottom: 1em; margin-left: 2em;">{{school.name}} {{school.fromYear}} - {{school.toYear}}
                      <button class="btn btn-primary" (click)='onDeleteSchool(i)' style="float: right;display:block;">Törlés</button>
                    </li>
                </ul>
                      <div class="col-sm-6" ngModelGroup="userData" #userData="ngModelGroup">
                          <label for="">Neve</label>
                          <input name="schoolName" id="schoolName" type="text" class="form-control here" ngModel>
                          <label for="">Kezdés éve</label>
                          <input name="schoolFromYear" id="schoolFromYear" type="number" class="form-control here" ngModel>
                          <label for="">Végzés éve</label>
                          <input name="schoolToYear" id="schoolToYear" type="number" class="form-control here" ngModel>
                          <button class="btn btn-primary center" (click)="onAddSchool()" style="display:block;margin-top: 1em;">Add</button>
                        </div>
                  </form>
            </div>



            <div class="marginbottom">
                <label style="margin-bottom: 1em;">Munkahelyek:</label>
                <div class="row">
                <ul class="col-sm-6">
                    <li *ngFor="let work of actualProfile.workPlaces; let j = index" style="margin-bottom: 1em; margin-left: 2em;">{{work.name}} {{work.fromYear}} - {{work.toYear}}
                      <button class="btn btn-primary" (click)='onDeleteWork(j)' style="display:block; float: right;">Törlés</button>
                    </li>
                  </ul>
                  <form class="col-sm-6" (ngSubmit)="onUpdate()" #work="ngForm">
                      <div ngModelGroup="userData" #userData="ngModelGroup">
                          <label for="">Neve</label>
                          <input name="workName" id="workName" type="text" class="form-control here" ngModel>
                          <label for="">Kezdés éve</label>
                          <input name="workFromYear" id="workFromYear" type="number" class="form-control here" ngModel>
                          <label for="">Végzés éve</label>
                          <input name="workToYear" id="workToYear" type="number" class="form-control here" ngModel>
                      </div>
                      <button class="btn btn-primary center" (click)="onAddWork()" style="display:block;margin-top: 1em;">Add</button>
                  </form>
                </div>

            </div>

    </div>
    <!-- <form (ngSubmit)="onUpdate()" #f="ngForm" style="margin:0px;padding:0px;border:0px;"> -->
        <!-- <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup"> -->
          <button name="submit" type="submit" class="btn btn-primary" style="width: 800px" (click)="onUpdate()">Profilom frissítése</button>
          <button class="btn btn-primary" (click)="onBack()" style="width: 800px">Vissza</button>
        <!-- </div> -->
    <!-- </form> -->
    </div>
