<div class="card center">

  <div class="card-body">
    <p>Oldal: {{this.page+1}}/{{this.maxPages}}</p>
    <div class="row">
      <div class="center">
          <div class="panel panel-default">
              <ul class="list-group" id="contact-list">
                  <li class="list-group-item valami" *ngFor="let profile of profiles; let i = index;">
                      <div class="center">
                          <!-- <img [src]="" [routerLink]="['/profile', IDs[i]]"/> -->
                          <img [src]="imageURL[i]" [routerLink]="['/profile', IDs[i]]"/>
                      </div>
                      <div class="center">
                          <span>{{profile.lastName}} {{profile.firstName}}</span><br/>
                          <span> <span>{{profile.username}}</span><br/></span>
                          <span> <span>{{profile.aboutMe}}</span><br/></span>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
    </div>
  </div>

  <div class="row keret" style="margin:0px;padding:0px;border:0px;">
      <button class="btn btn-primary col-sm-6" (click)="previousPage()" [disabled]="(this.page == 0)">Előző</button>
      <button class="btn btn-primary col-sm-6" (click)="nextPage()" [disabled]="(this.page >= (this.maxPages - 1))">Következő</button>
  </div>

</div>
