.card-container.card {
  max-width: 1050px;
  padding: 40px 40px;
}

.card {
  background-color: rgba(0,0,0,0.75);
  color: white;
  margin-top: 5%;
  margin-bottom: auto;
  width: 500px;
}

.dolt{
  font-weight:bold;
  text-align: center;
}

.card-header h1{
  font-variant:small-caps;
  color: white;
  font-weight:bold;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

img{
  display: block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid white;
}

.btn-primary{
  font-variant:small-caps;
  color: white;
  font-weight:bold;
  background-color: #247B;
  border:0;
}

.btn-primary:hover{
  color: black;
  background-color: white;
}
