
   <div class="card center">
    <div class="card-header">
      <h1>Kínáló</h1>
    </div>
    <div class="card-body">
            <div class="useravatar">
              <!-- <img alt="" src="https://t4.ftcdn.net/jpg/02/15/84/43/240_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg"> -->
              <img [src]="imageUrl" class="center">
            </div>
            <p class="dolt">{{actualOfferer.username}}</p>
            <p class="dolt">{{actualOfferer.lastName}} {{actualOfferer.firstName}}</p>
            <p class="dolt">{{actualOfferer.email}}</p>
            <p class="dolt">{{actualOfferer.aboutMe}}</p>
            <p>Állásajánlataim:</p>
                <ul>
                  <!-- <li *ngFor="let school of actualProfile.schools">{{school.name}} {{school.fromYear}} - {{school.toYear}}</li> -->
                </ul>

    </div>
      <button class="btn btn-primary" *ngIf="isActual()" (click)="onModify()">Módosítás</button>
</div>
