<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="vl"></div>
    <div class="nav navbar-header">
        <a href="">Profil</a>
    </div>
    <div class="vl"></div>
    <div class="nav navbar-header">
        <a href="">CV készítése</a>
    </div>
    <div class="vl2"></div>
    <div class="nav navbar-header navbar-brand">
        <a href="">Szupercsapat</a>
    </div>
    <div class="vl2"></div>
    <div class="nav navbar-header">
        <a href="">Feltöltés</a>
    </div>
    <div class="vl"></div>
    <div class="nav navbar-header">
        <a class="header-link" (click)="onLogout()" routerLink="/logout">Kijelentkezés</a>
    </div>
    <div class="vl"></div>
  </div>
</nav>
