<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="vl"></div>
    <div class="nav navbar-header">
        <!-- <a [routerLink]="['/profile', cookieService.get('ID')]">Profil</a> -->
        <a class="header-link" (click)="onClick()">Profil</a>
    </div>
    <div class="vl"></div>
    <div class="nav navbar-header dropdown" ngbDropdown>
        <!-- <a class="header-link" (click)="cv()">CV készítése</a> -->
        <!-- <a class="header-link">Keresés</a> -->
            <a style="cursor: pointer;" class="dropdown-toggle" role="button" ngbDropdownToggle>Keresés <span class="caret"></span></a>
            <ul class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item"><a style="cursor: pointer;" routerLink="search-profiles">Profilok</a></li>
              <li class="dropdown-item"><a style="cursor: pointer;" routerLink="search-workplaces">Állásajánlatok</a></li>
            </ul>
    </div>
    <div class="vl2"></div>
    <div class="nav navbar-header navbar-brand">
        <a routerLink="home">Szupercsapat</a>
    </div>
    <div class="vl2"></div>
    <div class="nav navbar-header">
        <a>Feltöltés</a>
    </div>
    <div class="vl"></div>
    <div class="nav navbar-header">
        <!-- <a class="header-link" (click)="onLogout()" *ngIf="loggedInService.isLoggedIn()">Kijelentkezés</a> -->
        <a class="header-link" (click)="onLogout()" >Kijelentkezés</a>
    </div>
    <div class="vl"></div>
  </div>
</nav>
