<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="vl"></div>
    <div class="nav navbar-header">
        <a routerLink="profile">Profil</a>
    </div>
    <div class="vl"></div>
    <div class="nav navbar-header">
        <!-- <a class="header-link" (click)="cv()">CV készítése</a> -->
        <a class="header-link">CV készítése</a>
    </div>
    <div class="vl2"></div>
    <div class="nav navbar-header navbar-brand">
        <a routerLink="home">Szupercsapat</a>
    </div>
    <div class="vl2"></div>
    <div class="nav navbar-header">
        <a href="">Feltöltés</a>
    </div>
    <div class="vl"></div>
    <div class="nav navbar-header">
        <a class="header-link" (click)="onLogout()">Kijelentkezés</a>
    </div>
    <div class="vl"></div>
  </div>
</nav>
