<div class="col-md-9">
  <div class="card">
      <div class="card-body">
        <form #f="ngForm">
          <div ngModelGroup="userData" #userData="ngModelGroup">
            <div class="input-group form-group">
              <label>Név</label>
              <input
                class="form-control"
                type="text"
                id="name"
                name="name"
                ngModel
                #name="ngModel"
                required
              >
              <label>Leírás</label>
              <textarea
                class="form-control"
                cols="30"
                rows="5"
                id="desc"
                name="desc"
                ngModel
                #desc="ngModel"
                required
              ></textarea>
              <div class="nav navbar-header dropdown" ngbDropdown>
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button" ngbDropdownToggle>Kategória <span class="caret"></span></a>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                      <li class="dropdown-item" *ngFor="let category of catWithParent; let i = index">
                        <p (click)="onSelect(i)">{{category.name}}</p>
                        <!-- {{category.name}} -->
                      </li>
                      <!-- <li class="dropdown-item"><a style="cursor: pointer;" >Állásajánlatok</a></li> -->
                    </ul>
              </div>
              <p *ngIf="selected == true">{{selectedCat.name}}</p>
              <button class="btn btn-primary" (click)="onUpload()">Feltöltés</button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
