<div class="card center">

  <div class="card-body">
      <div class="row">
          <p>Oldal: {{this.page+1}}/{{this.maxPages}}</p>
        <div class="center">
            <div class="panel panel-default">
                <ul class="list-group" id="contact-list">
              <li class="list-group-item valami" *ngFor="let job of jobs; let i = index;">
                  <div class="center">
                      <!-- <img [src]="" [routerLink]="['/profile', IDs[i]]"/> -->
                      <!-- <img [src]="imageURL[i]" [routerLink]="['/profile', IDs[i]]"/> -->
                  </div>
                  <div class="center">
                      <span> <span [routerLink]="['/offerer', IDs[i]]">{{job.username}}</span><br/></span>
                      <span> <span>{{job.name}}</span><br/></span>
                      <span> <span>{{job.description}}</span><br/></span>
                      <span> <span>{{job.categories[0]}}</span><br/></span>
                  </div>
              </li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin:0px;padding:0px;border:0px;">
    <button class="btn btn-primary col-sm-6" (click)="previousPage()" [disabled]="(this.page > 0)">Előző</button>
    <button class="btn btn-primary col-sm-6" (click)="nextPage()" [disabled]="(this.page < (this.maxPages - 1))">Következő</button>
</div>

</div>
