.card-container.card {
  max-width: 1050px;
  padding: 40px 40px;
}

.card {
  background-color: rgba(0,0,0,0.75);
  color: white;
  margin-top: 5%;
  margin-bottom: auto;
  width: 800px;
}

.card-body p{/*
  background-color: #D6D6D6;
  color: black;*/
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  width: 60%;
  font-weight:bold;

  }

.input-group-prepend span{
  width: 50px;
  background-color: #247B;
  color: black;
  border:0 !important;
  height: 25px;
  }

  .card-header h1{
    font-variant:small-caps;
    color: white;
    font-weight:bold;
    text-align: center;
    }

  .center {
    margin-left: auto;
    margin-right: auto;
    }

  img{
    width: 100px;
    height: 100px;
    display: block;
  }
