<!-- <div class="container">
  <div class="card card-container">
        <form>
          <div id="user-data">
              <div class="form-group">
                  <label for="username">Username</label>
                  <input>
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input>
                  <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input>
                </div>
                <button class="btn btn-primary" type="submit">Update</button>
          </div>
        </form>
  </div>
</div>
 -->

 <div class="col-md-9">
  <div class="card">
      <div class="card-body" *ngIf=modify>
          <!-- <form (ngSubmit)="onUpdate()" #f="ngForm"> -->
        <div class="row">
          <div class="col">
              <div class="row">
                  <div class="col-md-12">
                      <!-- <h4 class="text-lg-center">Your Profile</h4> -->
                      <hr>
                  </div>
              </div>
              <div class="row">
                  <form (ngSubmit)="onUpdate()" #f="ngForm">
                  <div class="col-md-12">
                      <div class="form-group row">
                          <div class="useravatar offset-4">
                              <img alt="" src="https://t4.ftcdn.net/jpg/02/15/84/43/240_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg">
                              <div class="col-8">
                                <button class="btn btn-primary">Feltöltés</button>
                              </div>
                          </div>
                        </div>
                      <!-- <form (ngSubmit)="onUpdate()" #f="ngForm"> -->
                        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
                             <!--  <div class="form-group row">
                                <label for="username" class="col-4 col-form-label">Username</label>
                                <div class="col-8">
                                  <input id="username" name="username" placeholder="Username" class="form-control here" type="text" ngModel>
                                </div>
                              </div> -->
                              <div class="form-group row">
                                <label for="firstname" class="col-4 col-form-label">First Name</label>
                                <div class="col-8">
                                  <input id="firstname" name="firstname" placeholder={{actualProfile.firstName}} class="form-control here" type="text" ngModel>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="lastname" class="col-4 col-form-label">Last Name</label>
                                <div class="col-8">
                                  <input id="lastname" name="lastname" placeholder={{actualProfile.lastName}} class="form-control here" type="text" ngModel>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="pass" class="col-4 col-form-label">Password</label>
                                <div class="col-8">
                                  <input id="pass" name="pass" placeholder="Password" class="form-control here" type="password" ngModel>
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="newpass" class="col-4 col-form-label">New Password</label>
                                <div class="col-8">
                                  <input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="password" ngModel>
                                </div>
                              </div>
                              <!-- <div class="radio" *ngFor="let cat of categories">
                                <label>
                                  <input
                                    type="radio"
                                    name="gender"
                                    ngModel>
                                    {{cat}}
                                </label>
                              </div> -->
                              <div class="form-group row">
                                <div class="offset-4 col-8">
                                  <button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>
                                </div>
                              </div>
                        </div>
                      <!-- </form> -->
                  </div>
                </form>
              </div>


          </div> <!-- div col -->
          <div class="col">
            <div class="row">
              <form (ngSubmit)="onUpdate()" #f="ngForm">
                  <div class="col-md-12"  ngModelGroup="userData" #userData="ngModelGroup">
                      <label>About me</label>
                      <textarea name="about" id="about" cols="30" rows="5"  class="form-control here" placeholder={{actualProfile.aboutMe}} ngModel></textarea>
                  </div>
              </form>
              <div class="col-md-12">
                  <label>Sulik:</label>

                  <form (ngSubmit)="onUpdate()" #s="ngForm">
                  <ul>
                      <li *ngFor="let school of actualProfile.schools; let i = index">{{school.name}} {{school.fromYear}} - {{school.toYear}}
                        <button class="btn btn-primary" (click)='onDeleteSchool(i)'>Törlés</button>
                      </li>
                  </ul>
                        <div class="col-8" ngModelGroup="userData" #userData="ngModelGroup">
                            <label for="">Neve</label>
                            <input name="schoolName" id="schoolName" type="text" class="form-control here" ngModel>
                            <label for="">Kezdés</label>
                            <input name="schoolFromYear" id="schoolFromYear" type="number" class="form-control here" ngModel>
                            <label for="">Végzés</label>
                            <input name="schoolToYear" id="schoolToYear" type="number" class="form-control here" ngModel>
                          </div>
                    </form>
                    <button class="btn btn-primary" (click)="onAddSchool()">Add</button>

              </div>
              <div class="col-md-12">
                  <label>Munkahelyek:</label>
                  <ul>
                      <li *ngFor="let work of actualProfile.workPlaces; let j = index">{{work.name}} {{work.fromYear}} - {{work.toYear}}
                        <button class="btn btn-primary" (click)='onDeleteWork(j)'>Törlés</button>
                      </li>
                    </ul>
                    <form (ngSubmit)="onUpdate()" #z="ngForm">
                        <div class="col-8" ngModelGroup="userData" #userData="ngModelGroup">
                            <label for="">Neve</label>
                            <input name="workName" id="workName" type="text" class="form-control here" ngModel>
                            <label for="">Kezdés</label>
                            <input name="workFromYear" id="workFromYear" type="number" class="form-control here" ngModel>
                            <label for="">Végzés</label>
                            <input name="workToYear" id="workToYear" type="number" class="form-control here" ngModel>
                        </div>
                    </form>
                    <button class="btn btn-primary" (click)="onAddWork()">Add</button>

              </div>
            </div>
          </div>


        </div> <!-- dvik row -->
      <!-- </form> -->
      </div>



    <div class="card-body" *ngIf=!modify>
      <div class="row">
          <div class="col">
              <div class="row">
                  <div class="col-md-12">
                      <!-- <h4 class="text-lg-center">Your Profile</h4> -->
                      <hr>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                    <div class="useravatar offset-4">
                      <img alt="" src="https://t4.ftcdn.net/jpg/02/15/84/43/240_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg">
                    </div>
                  </div>
                  <div>
                          <div>
                            <p>{{actualProfile.username}}</p>
                          </div>
                          <div>
                            <p>{{actualProfile.firstName}}</p>
                          </div>
                          <div>
                            <p>{{actualProfile.lastName}}</p>
                          </div>
                          <div>
                            <p>{{actualProfile.email}}</p>
                          </div>
                          <div>
                            <p>{{actualProfile.aboutMe}}</p>
                          </div>
                          <div>
                            <p>Iskolák:</p>
                            <ul>
                              <li *ngFor="let school of actualProfile.schools">{{school.name}} {{school.fromYear}} - {{school.toYear}}</li>
                            </ul>
                          </div>
                          <div>
                              <p>Munkahelyek:</p>
                              <ul>
                                <li *ngFor="let work of actualProfile.workPlaces">{{work.name}} {{work.fromYear}} - {{work.toYear}}</li>
                              </ul>
                          </div>
                  </div>
              </div>
          </div>


      </div>
    </div>
      <button class="btn btn-primary" *ngIf="!modify && isActual()">CV Készitése</button>
      <button class="btn btn-primary" *ngIf="!modify && isActual()" (click)="onModify()">Módosítás</button>
      <button class="btn btn-primary" *ngIf=modify (click)="onModify()">Vissza</button>
  </div>
</div>
