.card-container.card {
  max-width: 1050px;
  padding: 40px 40px;
}

.card {
  background-color: rgba(0,0,0,0.75);
  color: white;
}

img {
  display: block;
  width: 100px;
  height: 100px;
}

.card-body p{
  background-color: white;
  color: gray;
  width: 50%;
  }

.input-group-prepend span{
  width: 50px;
  background-color: #247B;
  color: black;
  border:0 !important;
  height: 25px;
  }

  .card-header h1{
    font-variant:small-caps;
    color: white;
    font-weight:bold;
    }
